@import "~react-leaflet-markercluster/dist/styles.min.css";
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
	height: 100vh;
}
#__next {
	height: 100%;
}
a {
	color: inherit;
	text-decoration: none;
}
main {
	height: calc(100% - 53.6px);
	background-color: #f5f5f5;
}
:root {
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
